TRELLIS_SOURCE_DIR=/opt/placeecho/models/TRELLIS
TRELLIS_MODEL_PATH=/opt/placeecho/weights/trellis1
TRELLIS_INPUT_ROOT=/opt/placeecho/data
TRELLIS_OUTPUT_ROOT=/opt/placeecho/data
TORCH_HOME=/opt/placeecho/cache/torch
NUMBA_CACHE_DIR=/opt/placeecho/cache/numba
U2NET_HOME=/opt/placeecho/cache/u2net
XDG_CACHE_HOME=/opt/placeecho/cache/xdg
MPLCONFIGDIR=/opt/placeecho/cache/matplotlib
ATTN_BACKEND=xformers
SPCONV_ALGO=native
